body {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    background-image: url("stacked-waves-haikei.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign {
    background-color: #D1D1D1;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 18px;
    height: 35rem;
    padding: 18px;
    margin-bottom: 260px;
    margin-top: 105px;
}
.sign > p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 0.5px;
    color: #413882;
}
.first-name, .last-name, .email, .password {
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #413882;
    width: auto;
}
input[type="text"], input[type="email"], input[type="password"] {
    font-family: montserrat, sans-serif;
    border: solid 1px white;
    border-radius: 7px;
    background-color: #FFFFFF;
    color: black;
    height: 1rem;
    padding: 15px;
}
input::placeholder {
    color: black;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
#register {
    background-color: #0066FF;
    border: none;
    border-radius: 7px;
    color: white;
    width: 200px;
    height: 45px;
    font-family: montserrat, sans-serif;
    margin-bottom: 1rem;
}
#register:hover {
    transform: scale(1.1);
}
.messageDiv{
    background-color:hsl(327,90%,28%);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}
@media screen and (max-width: 480px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .sign {
        margin-top: 2rem;
        
    }
    #signIn {
        margin-top: 0.5px;
    }
}
