body {
    font-family: poppins;
    flex-direction: row;
    background-image: url("stacked-waves-haikei.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 18px;
    height: 21rem;
    padding: 18px;
    margin-bottom: 260px;
    margin-top: 105px;
    margin-left: 10px;
}
.email, .password {
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #413882;
    width: auto;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-radius: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#submitSignIn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 5rem;
    background-color: #0066FF;
    color: white;
    font-family: poppins;
}

#submitSignIn:hover {
    transform: scale(1.1);
}