body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
nav {
  box-shadow: 0px 5px 5px #ccc;
}
a {
  color: white;
  margin-left: 10px;
}
.contact,
.requirement,
.register {
  margin-left: 18px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  color: black;
}
.alert {
  display: none;
}
.register {
  background-color: whitesmoke;
  box-shadow: 0px 7px 7px #CCC;
  display: flex;
  flex-direction: column;
  width: 28rem;
  border-radius: 18px;
  height: 120rem;
  padding: 18px;
  margin-bottom: 260px;
  margin-top: 105px;
}
.name,
.email,
.phone,
.born_date,
.address,
.religion,
.rt,
.rw,
.district,
.village,
.city,
.province,
.zipcode,
.birth_place,
.gender,
.anak-ke,
.siblings,
.school,
.nisn,
.score,
.father,
.mother,
.fatherPhone,
.motherPhone,
.document {
  border: none;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  color: black;
  width: auto;
}
input[type="text"],
input[type="date"],
input[type="number"] {
  border: 1px solid;
  border-radius: 5px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
#submit {
  background-color: #413882;
  border: none;
  border-radius: 7px;
  color: white;
  width: 230px;
  height: 45px;
}
#submit:hover {
  transform: scale(1.1);
}
.logo img {
  border-radius: 50%;
  width: 85px;
  height: 60px;
}
footer {
  text-align: center;
  color: white;
}
@media screen and (max-width: 480px) {
 .register {
  width: 18.5rem;
  margin-right: 15px;
 }

 .button {
   margin-top: 52px;
 }
}
