body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    scroll-behavior: smooth;
}
nav {
    box-shadow: 0px 5px 5px #ccc;
}
a {
    color: white;
    margin-left: 10px;
}
.contact, .requirement, .register {
    margin-left: 18px;
    
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    color: #413882;
}
.register {
        background-color: #D5DEEF;
        display: flex;
        flex-direction: column;
        width: 28rem;
        border-radius: 18px;
        height: 53rem;
        padding: 18px;
        margin-bottom: 260px;
        margin-top: 105px;
}
.name, .born_date, .address, .birth_place, .gender, .anak-ke, .siblings, .school, .nisn, .score {
    border: none;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    color: #413882;
    width: auto;
}
input[type="text"], input[type="date"], input[type="number"] {
    border: none;
    border-radius: 5px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
#send {
    background-color: #413882;
    border: none;
    border-radius: 7px;
    color: white;
    width: 230px;
    height: 45px;
}
#send:hover {
    transform: scale(1.1)
}
.logo img {
    border-radius: 50%;
    width: 85px;
    height: 60px;
}
footer {
    text-align: center;
}
@media screen and (max-width: 480px) {
    .register {
        width: 17rem;
        height: 51rem;
    }
    .button {
        margin-top: 40px;
    }
    #send {
        width: 200px;
    }
}